---
# KADR will look for this file at ~/.kadr/config.yml
# Commented out options show their defaults. The others are required.

# Your AniDB username and password.
# These can optionally be moved to a separate file at ~/.kadr/login.yml
anidb_username: 
anidb_password: 

# Timeout for cached anime information in seconds.
# cache_timeout_anime: 1036800 # 12 days

# Timeout for cached file information in seconds.
# cache_timeout_file: 1036800 # 12 days

# Timeout for cached mylist information for unwatched anime in seconds.
# cache_timeout_mylist_unwatched: 43200 # 12 hours

# Timeout for cached mylist information for anime with all tracked episodes
# watched in seconds.
# cache_timeout_mylist_watched: 7862400 # 91 days

# Timeout for cached mylist information for anime with some tracked episodes
# watched in seconds.
# cache_timeout_mylist_watching: 7200 # 2 hours

# Collation to use for filenames.
# A purely aesthetic option that only affects processing order.
# It has a small startup time penalty when enabled.
#
# Options:
#   none:      No sorting
#   ascii-i:   Case-insensitive alphabetical
#   auto:      unicode-i if Unicode::Collate is installed, otherwise ascii-i
#   unicode-i: Case-insensitive multi-lingual aware
#
# collator: auto

# Database where state information is kept.
# database: ~/.kadr/db

# A list of directories to index.
dirs_to_scan:
  - /home/me/anime

# During the rename/move phase, empty directories may be left behind as a
# result of files being moved elsewhere. By default, any empty directories
# which have been indexed are removed.
# delete_empty_dirs_in_scanned: 1

# The entire state database is loaded into memory on startup by default.
# This can be much faster when no AniDB queries are needed.
# Disable if the memory usage is more important than speed.
# load_local_cache_into_memory: 1

# The template for naming your files.
# See https://metacpan.org/module/Text::Xslate::Syntax::Kolon for how to use
# the templating language.
#
# Note that aside from the two space indentation,
# the template is whitespace sensitive.
#
# TODO: documentation of the available fields
#
# file_naming_scheme: |
#   /home/me/anime/
#   <: $episode_watched ? 'watched' : $anime.mylist.watched_eps ? 'watching' : 'unwatched' :>/
#   : if not $only_episode_in_folder {
#   <: $anime.romaji_name :>/
#   : }
#   <: $anime.romaji_name :>
#   : if $is_primary_episode {
#   :   if $file_version > 1 { print ' v' ~ $file_version }
#   : }
#   : else {
#    - <: $episode_number_padded :>
#   :   if $file_version > 1 { print 'v' ~ $file_version }
#    - <: $episode_english_name :>
#   : }
#   : if $group_short_name != 'raw' { print ' [' ~ $group_short_name ~ ']' }
#   .<: $file_type :>

# Timeout for AniDB queries.
# query_timeout: 15.0

# Enable to set the state of missing file to "deleted" on AniDB.
# update_anidb_records_for_deleted_files: 0

# Replace characters windows can't display.
# This is set by default when running on windows.
# windows_compatible_filenames: 0
